header {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      margin-right: 15px;
      margin-left: 15px;
      border: 1px solid;
    }
  }

  .nav-item {
    font-size: 15px;
  }
  
}
