<header>
  <nav class="navbar navbar-dark bg-dark mb-5">
    <div class="navbar-brand item-height" href="">
      <a class="navbar-item" href="#">
        <img class="mrg-row-img" height="30" src="../../../../assets/images/notes-logo.jpeg" alt="logo">
      </a>
    </div>
    <div class="navbar-expand mr-auto item-height">
      <div class="navbar-nav mrg-row">
        <a mat-raised-button routerLink="/new-note" class="nav-button nav-item nav-link">
          Новая
          заметка
        </a>
        <a mat-raised-button routerLink="/notes-list" class="nav-button nav-item nav-link">Список</a>
      </div>
    </div>
  </nav>
</header>
