<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="navbar-brand item-height" href="">
      <a class="navbar-item" href="#">
        <img class="mrg-row-img" height="30" src="../../../../assets/images/notes-logo.jpeg" alt="logo">
      </a>
    </div>
    <div class="navbar-expand mr-auto item-height">
      <div class="navbar-nav mrg-row">
        <button mat-stroked-button color="white" routerLink="/new-note" class="nav-button nav-item nav-link">
          Make note
        </button>
        <button mat-stroked-button color="white" routerLink="/notes-list" class="nav-button nav-item nav-link">Notes
						list</button>
      </div>
    </div>
  </nav>
</header>
