<header>
  <nav class="navbar navbar-dark bg-dark mb-5">
    <div class="navbar-brand item-height" href="">
      <a class="navbar-item" href="#">
        <img class="mrg-row-img" height="30" src="../../../../assets/images/notes-logo.jpeg" alt="logo">
      </a>
    </div>
    <div class="navbar-expand mr-auto item-height">
      <div class="navbar-nav mrg-row">
        <button mat-raised-button class="nav-button"><a routerLink="/new-note" class="nav-item nav-link">Новая
          заметка</a></button>
         <button mat-raised-button class="nav-button"><a routerLink="/note" class="nav-item nav-link">Заметка</a></button>
         <button mat-raised-button class="nav-button"><a routerLink="/notes-list" class="nav-item nav-link">Список</a></button>
      </div>
    </div>
  </nav>
</header>
