<mat-card>
		<h5>Add comment</h5>
		<form [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm.value)">
				<div class="form-group">
						<mat-form-field>
								<mat-label>Author</mat-label>
								<input type="text"
											 matInput
											 name="Author"
											 formControlName="author"
											 placeholder="Author"
											 required>
								<mat-error *ngIf="commentForm.get('author').hasError('required')">
										Field required!
								</mat-error>
								<mat-error *ngIf="commentForm.get('author').hasError('wrongWordsCount')">
										Wrong words count!
								</mat-error>
								<mat-error *ngIf="commentForm.get('author').hasError('wrongWordsCase')">
										Wrong words case
								</mat-error>

						</mat-form-field>
						<mat-form-field>
								<mat-label>Comment</mat-label>
								<label>
<textarea class="col-6" matInput
					name="content"
					formControlName="comment"
					placeholder="Type comment..."
					cdkTextareaAutosize
					cdkAutosizeMinRows="3"
					required>
</textarea>
								</label>
								<mat-error *ngIf="commentForm.get('comment').hasError('required')">
										Field required!
								</mat-error>
						</mat-form-field>
				</div>
				<div class="save-btn">
						<button type="submit" mat-stroked-button>
								Add
						</button>
				</div>
		</form>
</mat-card>

