<div class="container"><h3>Список заметок</h3>
		<div class="notes-list">
				<div class="note-item-titles">
						<div class="author"><p>Name</p></div>
						<div class="content"><p>Content</p></div>

				</div>
				<div class="note-item" *ngFor="let item of notes; let i=index" [routerLink]="['/note', item.id ]">
						<div class="author"><p>{{item.name}}</p></div>
						<div class="content"><p>{{item.content}}</p></div>
						<div class="buttons">
								<button title="delete" mat-stroked-button class="delete-btn"
												(click)="deleteItem(i)">
										<mat-icon>delete_forever
										</mat-icon>
								</button>
<!--								<button title="edit" mat-stroked-button class="edit-btn"-->
<!--												(click)="openDialog(i)">-->
<!--										<mat-icon>edit</mat-icon>-->
<!--								</button>-->
<!--								<button title="comment" mat-stroked-button class="comment-btn"-->
<!--												(click)="addComment(i)">-->
<!--										<mat-icon>add_comment-->
<!--										</mat-icon>-->
<!--								</button>-->
						</div>

				</div>
		</div>
		<button title="add" mat-stroked-button class="add-btn" [routerLink]="['/new-note']">
				<mat-icon>add_circle_outline
				</mat-icon>
				Add note
		</button>
</div>
